{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontAwesome.min.css' %}">
    <title>{% block title %} statistiquesOGSL {%endblock%}</title>
</head>
<body>
    <nav class="navbar navbar-light " style=" background-color: #f1f1f7;">
        <div class="container-fluid mx-3">
            <a class="navbar-brand me-3" href="https://ogsl.ca/fr/accueil/">
                <img src="{%static 'logo.svg'%}" alt="logoOGSL" width="100" height="80" class="d-inline-block align-text-center mx-3">
                Statistiques d'utilisation et de couverture
            </a>
        </div>
    </nav>
    {% block content %}
    {% endblock %}  
</body>
</html>