{%extends "base.html"%}
{%load static %}
{%block content %}
   
    <div class="container" >
        <div class="row">   
            <div class="container mt-5">
                <div class="text-start mb-4">
                    <h2>Jeux moissonés</h2>
                </div>

                <div class="container mt-3 justify-content-center d-flex">
                        <canvas id="jeuMoissonee" 
                        aria-label="jeuMoissonee" 
                        role="img" 
                        style="max-width: 900px;max-height: 500px;"
                        data-labels = '{{thematiques|safe}}''
                        data-values = '{{nombreJeuxParThematique|safe}}'>
                    </canvas>
                </div>
            </div>
        </div>

        <div class="row">   
                <div class="container mt-5 ">
                    <div class="text-start mb-5">
                        <h2>Répartition thématique</h2>
                    </div>

                    <div class="container mt-4 justify-content-center d-flex">
                        <canvas id="Rthematique" aria-label="jeuMoissonee" role="img" style="max-width: 900px;max-height: 450px;"></canvas>
                    </div>
        </div>
            
        <div class="row">   
                <div class="container mt-5">
                    <div class="text-start mb-4">
                        <h2>Tendances temporelle</h2>
                    </div>

                    <div class="container mt-3 justify-content-center d-flex">
                        <canvas id="Ttemporelle"aria-label="jeuMoissonee" role="img" style="max-width: 900px;max-height: 500px;"></canvas>
                    </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'graphs.js' %}"></script>

{% endblock %}